.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: darksalmon;
    text-align: center;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}